---
layout: archive
title: "Supervision"
permalink: /supervision/
author_profile: true
---

{% include base_path %}

<ul style="list-style-type: none; padding-left: 0;">
    <li style="margin-bottom: 20px;">
        <strong>Mitra Aelami</strong><br>
        <em>"Urban flood risk modeling using neural networks and the impact of extreme spatio-temporal rainfall events."</em><br>
        University of Montpellier, 2025 (01/10/2024–2027).<br>
        Supervisors: VG, GT; co-supervision: CD and RH.<br>
        <a href="https://theses.fr/s403144" target="_blank">theses.fr/s403144</a>,
        <a href="https://orcid.org/0009-0003-2871-5649" target="_blank">ORCID 0009-0003-2871-5649</a>.<br>
        Hydraulic models will be applied at different scales to serve as a training basis for an artificial intelligence model enabling rapid estimation of flooded areas
        (<a href="#" target="_blank">Aelami.etal2026_SHF</a>, <a href="#" target="_blank">Aelami.etal2026_RiverFlow</a>).
        For this purpose, data has been provided by the company <a href="https://www.actierra.fr" target="_blank">Actierra</a>, a subsidiary of <a href="https://www.ingerop.fr" target="_blank">Ingérop</a>.
    </li>

    <li style="margin-bottom: 20px;">
        <strong>Flavien Baudu</strong><br>
        <em>"Assimilation of satellite-derived flood extent maps into free-surface hydraulic models to improve flood forecasting."</em><br>
        University of Montpellier, 2025 (01/12/2024–2027).<br>
        Supervisors: RH (50%), CD (50%). <a href="https://theses.fr/s403144" target="_blank">theses.fr/s403144</a>.<br>
        Funded by the ANR SWIFTS project.
        This research explores methods for estimating river bathymetry by jointly assimilating in situ measurements and satellite-derived data (such as water levels and flood extent maps) into the SW2D-DDP model
        (<a href="#" target="_blank">Baudu.etal2026_RiverFlow</a>, <a href="#" target="_blank">Baudu.etal2026_EGU</a>).
    </li>

    <li style="margin-bottom: 20px;">
        <strong>Omar Et-Targuy</strong><br>
        <em>"Practical fusion and heterogeneous conditioning from uncertain information."</em><br>
        <a href="https://www.cril.univ-artois.fr/" target="_blank">University of Artois</a> – <a href="https://fst-usmba.ac.ma/laboratoire_sia/" target="_blank">USMBA</a> (Morocco), 2025 (01/10/2022–30/2025).<br>
        Supervisors: SB (50%), AB (25%), CD (25%). <a href="https://www.theses.fr/s344364" target="_blank">theses.fr/s344364</a>,
        <a href="https://orcid.org/0000-0002-8307-7307" target="_blank">ORCID 0000-0002-8307-7307</a>.<br>
        This thesis focuses on the fusion of multi-source geographical data, represented as graphs, which include both geometric elements and a semantic attribute base. Uncertain information will be modeled using possibility theory and belief functions. The goal is to define a generic approach for detecting and correcting imperfections in the matching of geographical objects during the fusion of uncertain data and information. Omar has participated in numerous international and national conferences
        (<a href="#" target="_blank">EtTarguy.etal2023_KR</a>, <a href="#" target="_blank">EtTarguy.etal2023_ISDS</a>, <a href="#" target="_blank">EtTarguy.etal2023_AI2SD2022</a>, <a href="#" target="_blank">EtTarguy.etal2023_LPAR</a>, <a href="#" target="_blank">EtTarguy.etal2023_JFRB</a>, <a href="#" target="_blank">EtTarguy.etal2026_SHF</a>)
        and published two journal articles (<a href="#" target="_blank">Ettarguy.etal2024_SNCS</a>, <a href="#" target="_blank">Ettarguy.etal2025_IJAR</a>).
        <br><strong>Current position:</strong> Omar is currently a postdoctoral researcher at IUSTI as part of the ATLAS project, working on the parameterization of porosity models.
    </li>

    <li style="margin-bottom: 20px;">
        <strong>Fadil Boodoo</strong><br>
        <em>"Hydrodynamic modeling and artificial intelligence for a flood forecasting system."</em><br>
        University of Montpellier, 2022 (01/01/2022–2024).<br>
        Supervisors: CD (50%), RH (50%). <a href="https://www.theses.fr/s308004" target="_blank">theses.fr/s308004</a>,
        <a href="https://orcid.org/0000-0002-7469-9366" target="_blank">ORCID 0000-0002-7469-9366</a>.<br>
        Artificial intelligence is now successfully used in hydrological prediction, but its application to flood forecasting remains limited due to the need for large training datasets, which are scarce for real flood events. This thesis aims to develop a model trained on long-term simulated data using the depth-dependent porosity model <a href="https://sw2d.inria.fr/" target="_blank">SW2D-DDP</a>. Fadil has participated in several conferences
        (<a href="#" target="_blank">Boodoo.etal2026_SHF</a>, <a href="#" target="_blank">Skifa.etal2023_Simhydro</a>, <a href="#" target="_blank">Boodoo.etal2023_SHF</a>)
        and published a first article on the application of an LSTM network to rainfall-runoff forecasting (<a href="#" target="_blank">Boodoo.etal2025_MESE</a>).
        A second submitted article (<a href="#" target="_blank">Boodoo.etal_soumis</a>) presents a Graph Neural Network for spatio-temporal simulation of river floods.
        <br><strong>Current position:</strong> Fadil is currently a temporary teaching and research assistant (ATER) at Polytech Montpellier and will defend his thesis at the end of August 2025.
    </li>

    <li style="margin-bottom: 20px;">
        <strong>Yassine Belghaddar</strong><br>
        <em>"Data fusion for urban network mapping: application to wastewater networks."</em><br>
        University of Montpellier, USMBA (Fez), December 2022.<br>
        Supervisors: CD (50%), AB (50%); co-supervision: NC, A. Seriai. <a href="https://www.theses.fr/2022UMONG092" target="_blank">theses.fr/2022UMONG092</a>,
        <a href="https://orcid.org/0000-0002-1944-6294" target="_blank">ORCID 0000-0002-1944-6294</a>.<br>
        To prepare for data fusion, a meta-model was designed for a generic representation of wastewater networks and their characteristics. This meta-model (and its implementation in a query platform) was the subject of a first publication (<a href="#" target="_blank">Belghaddar.etal2022_iJIST</a>). Missing data in the attributes associated with wastewater network maps were completed using a Graph Neural Network approach (<a href="#" target="_blank">Belghaddar.etal2021_Water</a>). The matching of geographical data representing wastewater networks was published in (<a href="#" target="_blank">Belghaddar.etal2025_IS</a>).
        <br><strong>Current position:</strong> Yassine is currently an engineer at Berger-Levrault (Montpellier).
    </li>

    <li style="margin-bottom: 20px;">
        <strong>Vita Ayoub</strong><br>
        <em>"Assimilation of satellite-derived flood information for better parameterizing and controlling large-scale hydraulic models over data-scarce areas."</em><br>
        University of Montpellier, 2022 (15/11/2018–14/11/2022).<br>
        Supervisor: CD (100%); co-supervision: RH. <a href="https://www.theses.fr/2022UMONG094" target="_blank">theses.fr/2022UMONG094</a>,
        <a href="https://orcid.org/0000-0001-5931-7422" target="_blank">ORCID 0000-0001-5931-7422</a>.<br>
        The thesis focused on a main research question: How to optimally integrate satellite information to parameterize and control large-scale hydraulic models in poorly instrumented areas? The depth-dependent porosity model <a href="https://sw2d.inria.fr/" target="_blank">SW2D-DDP</a> (<a href="#" target="_blank">Guinot.etal2018_AWR</a>) was first applied to the confluence of the Severn and Avon rivers and validated using in situ data and satellite images (<a href="#" target="_blank">Ayoub.etal2022_AWR</a>). A second objective was to develop an automatic algorithm for estimating water levels from satellite and topographic data only. Initial data assimilation tests (particle filter) were also conducted to optimally combine observed and simulated data.
        <br><strong>Current position:</strong> Vita is currently an engineer at Schroeder & Associés S.A (Luxembourg).
    </li>

    <li style="margin-bottom: 20px;">
        <strong>Pascal Finaud-Guyot</strong><br>
        <em>"Macroscopic modeling of river and urban floods: accounting for directional flows and exchanges between main channel and floodplain."</em><br>
        University of Montpellier 2, 2009.<br>
        Supervisor: VG; co-supervision: CD. <a href="https://www.theses.fr/2009MON20142" target="_blank">theses.fr/2009MON20142</a>,
        <a href="https://orcid.org/0000-0002-4627-7182" target="_blank">ORCID 0000-0002-4627-7182</a>.<br>
        The SW12D model proposed in this thesis is a coupling of 1D and 2D models, accounting for mass and momentum transfers. It allows a considerable reduction in the number of mesh elements compared to a classic 2D mesh, and consequently reduces simulation time. Numerical tests and real topography examples show that the proposed approach correctly represents head losses due to flow sinuosity and meander shortcuts (<a href="#" target="_blank">FinaudGuyot.etal2011_CRAS</a>, <a href="#" target="_blank">FinaudGuyot.etal2011_HB</a>, <a href="#" target="_blank">Finaud-Guyot.etal2010_ijfNMiF</a>).
        <br><strong>Current position:</strong> After being recruited as a lecturer at ENGEES Strasbourg, Pascal joined Polytech Montpellier, the HSM laboratory, and the Lemon team in 2019.
    </li>
</ul>


<!--{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}-->


