---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.hal %}
  <div class="wordwrap">If the publications do not appear, the list of my articles and some of my conference papers are available  <a href="{{site.author.hal}}">on my HAL CV</a>.</div>
{% endif %}

{% include base_path %}

  <iframe
    src="https://haltools.archives-ouvertes.fr/Public/afficheRequetePubli.php?idHal=carole-delenne&CB_auteur=oui&CB_titre=oui&CB_article=oui&langue=Anglais&tri_exp=annee_publi&tri_exp2=typdoc&ordre_aff=TA&Fen=Aff&css=../css/VisuOmbreVignettes.css"
    width="100%"
    height="500px"
    frameborder="2">
  </iframe>


<!-- New style rendering if publication categories are defined -->
<!--  {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}  -->



