---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

Here is a list of the courses I teach or have taught at Polytech Montpellier, in the Water Science and Technology (STE) and Water and Civil Engineering (EGC) programmes, as well as at Polytech Marseille, in the Civil Engineering (GC) and Mechanical and Energy Engineering (ME) programmes.
Most of the courses are in French, but some of them are also given in English.


<h3>Mathématiques pour l'ingénieur:</h3>
<ul>
  <li>CM/TD Mathématiques pour l’Ingénieur (GC3);</li>  
  <li>CM/TD Analyse Numérique du Génie Civil (GC3);</li>
  <li>CM/TD Méthodes Mathématiques pour l’Ingénieur (STE3): <a href="files/MMI1_2018-2019.pdf">pdf</a>;</li>
  <li>CM/TD Méthodes numériques appliquées (STE3, STE4);</li>
  <li>CM/TD Mathématiques de base (EGC3): <a>pdf</a>;</li>
  <li>CM/TD Mathématiques en mécanique (EGC3);</li>
  <li>CM/TD Mathématique 2 (EGC3);</li>
  <li>Projets d’Ingénierie Mathématique et Statistique (STE3);</li>
</ul>

<h3>Hydraulique/Mécanique des fluides:</h3>
<ul>
  <li>Shallow water modelling (ME5 - in English) <a>pdf</a>;</li>
  <li>CM/TD/TP hydraulique (EIE3);</li>
  <li>CM/TD Mécanique des fluides (GC3);</li>
  <li>CM/TD hydraulique (GC4);</li>
  <li>CM/TD hydraulique à surface libre (EGC3) <a>pdf</a>;</li>
  <li>TP hydraulique (STE3, EGC3, STE4);</li>
  <li>Hydraulics Specialization (STE4 – in English);</li>
  <li>TD Hydraulique numérique (STE4);</li>
  <li>TD Transitoires en hydraulique (STE4);</li>
  <li>TD hydraulique (IUT Génie Civil);</li>
  <li>TD Modélisation hydraulique 2D (STE5);</li>
  <li>Réseaux d’Adduction d’Eau Potable (STE4, STE5, CNAM): prise en main Epanet;</li>
  <li>Mécanique des fluides (STE3);</li>
</ul>

<h3>Informatique</h3>
<ul>
  <li>CM/TD Algorithmes et programmation (STE3, EGC3);</li>
  <li>CM/TD Excel (STE3, EGC3);</li>
  <li>CM/TD VBA (STE3);</li>
</ul>


<!--{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}-->
