---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

Voici une liste des cours que j’enseigne ou que j’ai enseignés à Polytech Montpellier, Sciences et Technologie de l’Eau (STE) / Eau et Génie Civil (EGC) ainsi qu'à Polytech Marseille, Génie Civil (GC) et Mécanique Energétique (ME).



Mathématiques pour l'ingénieur:
* CM/TD Méthodes Mathématiques pour l’Ingénieur (STE3): pdf;
* CM/TD Méthodes numériques appliquées (STE3, STE4);
* CM/TD Mathématiques de base (EGC3): pdf;
* CM/TD Mathématiques en mécanique (EGC3);
* CM/TD Mathématique 2 (EGC3);
* Projets d’Ingénierie Mathématique et Statistique (STE3);

Hydraulique/Mécanique des fluides:
* Cours hydraulique à surface libre (EGC3) pdf;
* TP hydraulique (STE3, EGC3, STE4);
* Hydraulics Specialization (STE4 – in English);
* TD Hydraulique numérique (STE4);
* TD Transitoires en hydraulique (STE4);
* TD hydraulique (IUT Génie Civil);
* TD Modélisation hydraulique 2D (STE5);
* Réseaux d’Adduction d’Eau Potable (STE4, STE5, CNAM): prise en main Epanet;
* Mécanique des fluides (STE3);
* Informatics
* CM/TD  Algorithmes et programmation (STE3, EGC3);
* CM/TD Excel (STE3, EGC3);
* CM/TD VBA (STE3);



<!--{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}-->
